body {
    margin: 0;
    padding: 0;
    background: url(top-bg.png) repeat-x left top;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #3A4648;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}

a {
    text-decoration: none;
    color: #8EAAB0;
}

.center {
    display: block;
    margin: auto;
    text-align: center;
}

#wrapper {
    background: url(content-bg.jpg) no-repeat center 115px;
}

.container {
    width: 1000px;
    margin: 0px auto;
}

/* Header */

#header {
    width: 900px;
    height: 115px;
    margin: 0 auto;
    padding: 0px 50px;
}

/* Logo */

#logo {
    float: left;
    width: 300px;
    margin: 0;
    padding: 0;
    color: #FFF;
}

#logo h1 {
    padding:10px 0px 0px 0px;
    letter-spacing: -2px;
    text-transform: lowercase;
    font-size: 3.8em;
}

#logo h1 a {
    color: #FFF;
}

#logo p {
    margin: 0;
    padding: 0px 0 0 0px;
    letter-spacing: -1px;
    font: normal 18px Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #8E8E8E;
}

#logo p a {
    color: #8E8E8E;
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #000;
}

/* Menu */

#menu {
    float: right;
    width: 500px;
    height: 90px;
    margin: 0 auto;
    padding: 0;
}

#menu ul {
    float: right;
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    height: 20px;
    margin-right: 1px;
    padding: 50px 20px 15px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    border: none;
}

#menu a:hover {
    text-decoration: none;
    color: #AAA;
}

/* Page */

#page {
    width: 900px;
    margin: 0 auto;
    padding: 0px 30px 0px 0px;
}

/* Content */

#content {
    float: left;
    width: 590px;
    padding: 50px 0px 0px 0px;
}

.post {
    overflow: hidden;
    margin-bottom: 40px;
    border-bottom: 1px solid #E7EBED;
}

.post .title {
    height: 41px;
    padding: 7px 0px 7px 0px;
    letter-spacing: -1px;
    border: none;
    color: #3A4648;
}

.post .meta {
    margin-bottom: 20px;
    padding: 0px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.post .meta li {
    list-style: none;
}

.post .entry {
    padding: 0px 0px 20px 0px;
    padding-bottom: 20px;
    text-align: justify;
}

.links {
    padding-top: 20px;
    margin-bottom: 30px;
}

.links .link {
    display: block;
    float: left;
    width: 95px;
    height: 25px;
    padding: 2px 0px 0px 0px;
    margin-right: 10px;
    text-align: center;
}

.comment-list {
    margin: 5px;
    padding: 10px;
}

.form-box {
    margin: 5px;
    padding: 10px;
    background: url('transparent.png');
}

#new-comment {
    margin: 35px 5px 5px 5px;
    padding: 10px;
    background: url('transparent.png');
}

#form .comment-input {
    width: 60%;
    margin-right: 5px;
    padding: 6px 5px 2px 5px;
    border: 1px solid #E7EBED;
    background: #FFF;
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #5D781D;
}

#form label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    margin-right: 5px;
    width: 100px;
    float: left;
    text-align: right;
}

#id_subject {
    display: none;
}

#submit {
    width: 20%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #E7EBED;
    color: #3A4648;
    background: #FFF;
}

.static-content {
    margin-top: 20px;
}

.static-content img {
    float: left;
    margin: 0 10px 10px 10px;
}

.static-content ul {
    padding: 5px;
}

.static-content li {
    margin: 20px;
    list-style: none;
    float: left;
    display: block;
}

.static-content li span {
    display: block;
}

.gallery table {
    margin: 20px 0 20px 0;
    width: 100%;
}

.gallery table td {
    padding: 15px;
}

.gallery table h3 {
    text-align: center;
    margin-top: 10px;
}

.gallery .pagination {
    float: left;
    text-align: center;
    width: 590px;
    margin-bottom: 15px;
}

.gallery .pagination .page-nav {
    font-size: 1.8em;
    margin: 0 20px 0 20px;
    vertical-align: middle;
}

.gallery .pagination .page-count {
    margin: auto;
    vertical-align: middle;
}

.gallery-download {
    margin-bottom: 10px;
}

/* Sidebar */

#sidebar {
    float: right;
    width: 280px;
    margin: 0 0 20px 0;
    padding: 70px 0px 0px 0px;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
}

#sidebar li ul {
    margin: 0px 0px;
    padding-bottom: 30px;
}

#sidebar li li {
    line-height: 35px;
    border-bottom: 1px solid #E7EBED;
    margin: 0px 30px;
    border-left: none;
}

#sidebar li li span {
    display: block;
    margin-left: 5px;
    line-height: 20px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
}

#sidebar li li a {
    padding: 0px 0px 0px 15px;
}

#sidebar h2 {
    height: 38px;
    padding-left: 30px;
    letter-spacing: -.5px;
    font-size: 1.8em;
    color: #3A4648;
}

#sidebar p {
    margin: 0 0px;
    padding: 0px 30px 20px 30px;
}

#sidebar .gravatar {
    float: left;
    margin: 7px;
}

#sidebar a {
    border: none;
}

#sidebar a:hover {
    text-decoration: underline;
}

#sidebar .icon-link {
    height: 50px;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 38px;
    line-height: 4em;
    margin-left: 15px;
    display: block;
}

#sidebar a[href^="http://linkedin.com"] {
    background-image: url(linkedin.png);
}

#sidebar a[href^="https://github.com"] {
    background-image: url(github.png);
}

#sidebar a[href^="https://facebook.com"] {
    background-image: url(facebook.png);
}

#sidebar a[href^="https://plus.google.com"] {
    background-image: url(google-plus.png);
}

#sidebar a[href^="http://reddit.com"] {
    background-image: url(reddit.png);
}

#sidebar .fb-iframe {
    border:none;
    width:120px;
    height:80px;
    margin-left:80px;
}

/* Footer */

#footer {
    margin: auto;
    padding: 10px 0 15px 0;
    background: #4D596A;
    font-family: Arial, Helvetica, sans-serif;
}

#footer p {
    margin: 0;
    padding: 5px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #92A9B6;
}

#footer a {
    color: #92A9B6;
}
