{% extends "base.html" %}
{% block content %}
<h2>About me</h2>
<div class="static-content">
  <p style="float: left; display: block;">
    <img src="{{ STATIC_URL }}my-picture.jpg" alt="Kasper Laudrup" />
    <span class="center">This is me in <a href="http://en.wikipedia.org/wiki/Jaipur">Jaipur, India</a></span>
  </p>
  <p>My name is Kasper Laudrup and I am living in <a href="http://maps.google.com/maps?q=Copenhagen,+Denmark&amp;hl=en&amp;sll=37.0625,-95.677068&amp;sspn=57.292148,114.169922&amp;vpsrc=0&amp;hnear=Copenhagen,+Denmark&amp;t=m&amp;z=12">Copenhagen, Denmark</a>, which is also where I was born and grew up.</p>
  <p>I have been studying Computer Science at the <a href="http://www.ku.dk">Univeristy of Copenhagen</a> as well at the <a href="http://english.www.bme.hu/">Budapest University of Technology and Economics</a>.</p>
  <p>My main interests are related to computer programming, which is thankfully something I can work with, but is also something I enjoy doing in my free time. Please feel free to check out some of the projects I've been working on.</p>
  <p>I am very much an open source proponent and run <a href="http://www.archlinux.org">Arch Linux</a> on my desktop machines and <a href="http://www.debian.org">Debian GNU/Linux</a> on my servers.</p>
  <p>I also enjoy playing music and play some guitar, piano and drums, though nothing close to a profesional level. I also consider myself to be quite a social person and though I like sitting at home writing code and other geeky stuff, I definitely also like to hang out with other people.</p>
  <p>As many other people, I enjoy travelling quite a lot, mostly because I enjoy experiencing different cultures. Other interests include history, movies and politics.</p>
  <p>If you like to get to know me on a more proffesional level, feel free to take a look at my <a href="{{ STATIC_URL }}cv.pdf">resume</a> or <a href="/contact">contact me</a>.</p>
</div>
{% endblock %}
