{% extends "base.html" %}
{% load markup_tags %}
{% block content %}
{% if cur_post %}
<div class="post">
  <h2 class="title">{{ cur_post.subject }}</h2>
  <p class="meta">
    <span class="date">{{ cur_post.pub_date }}</span></p>
  <div class="entry">
    <p>
      {{ cur_post.body|apply_markup:"textile" }}
    <p class="links">
      <a href="/comment/{{ cur_post.slug }}" class="link">Write comment</a>
    </p>
    {% if comments %}
    <div class="comment-list">
      {% for comment in comments %}
      <div class="comment">
	<ul class="meta">
          <li>Posted by {{ comment.author }}</li>
          <li>On {{ comment.date }}</li>
        </ul>
	<p>
          {{ comment.body|apply_markup:"textile" }}
        </p>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    </p>
  </div>
</div>
{% endif %}
{% endblock %}
