{% extends "base.html" %}
{% load markup %}
{% block head %}
<script type="text/javascript">
  window.onload = function() {
    document.getElementById("id_author").focus();
  }
</script>
{% endblock %}
{% block content %}
{% if cur_post %}
<div class="post">
  <h2 class="title">{{ cur_post.subject }}</h2>
  <p class="meta">
    <span class="date">{{ cur_post.pub_date }}</span></p>
  <div class="entry">
    {% filter textile %}
    {{ cur_post.body }}
    {% endfilter %}
    <div id="new-comment" class="comment">
      <form action="/comment/{{ cur_post.slug }}/" method="post" id="comment-form">{% csrf_token %}
        {{ form.as_p }}
        <p>
          <input type="text" id="id_subject" name="subject"></input>
        </p>
        <p>
          <label for="comment-submit"></label>
          <input type="submit" id="comment-submit"></input>
        </p>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
