{% extends "base.html" %}
{% block head %}
<script type="text/javascript">
  $(function() {
    $('#id_author').focus();
  });
</script>
{% endblock %}
{% block content %}
{% if cur_post %}
<div class="post">
  <h2 class="title">{{ cur_post.subject }}</h2>
  <p class="meta">
    <span class="date">{{ cur_post.pub_date }}</span></p>
  <div class="entry">
    {{ cur_post.body }}
    <div id="new-comment" class="form-box">
      <form action="/comment/{{ cur_post.slug }}/" method="post" id="form">{% csrf_token %}
        {{ form.as_p }}
        <p>
          <input type="text" id="id_subject" name="subject"></input>
        </p>
        <p>
          <label for="comment-submit"></label>
          <input type="submit" id="submit"></input>
        </p>
      </form>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
