{% extends "base.html" %}
{% block content %}
<div class="gallery">
<h2>Photo galleries</h2>
<table>

{% for gallery in objects.object_list %}

{% if not forloop.counter|divisibleby:2 %}
<tr>
{% endif %}

<td>
  <p class="center"><a href="{{ gallery.get_url }}"><img src="{{ gallery.thumbnail.url }}" alt="{{ gallery.title }}" /></a></p>
  <h3 class="center">{{ gallery.title }}</h3>
  <p class="center">{{ gallery.first_photo_date|date:"jS M Y" }} - {{ gallery.last_photo_date|date:"jS M Y" }}</p>
  <p class="center">{{ gallery.description }}</p>
</td>

{% if forloop.counter|divisibleby:2 %}
</tr>
{% endif %}
{% endfor %}
</table>
{% include "pagination.html" %}
</div>
{% endblock %}
