{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript">
  $(function() {
    $('a.fancybox').fancybox();
  });
</script>
{% endblock %}
{% block content %}
<div class="gallery">
<h2>{{ gallery.title }}</h2>

<table>

{% for photo in objects.object_list %}

{% if not forloop.counter|divisibleby:2 %}
<tr>
{% endif %}

<td>
  <p class="center"><a href="{{ photo.get_url }}" title="{{ photo.date_taken|date:"jS F Y H:i" }}" class="fancybox">
      <img src="{{ photo.thumbnail.url }}" alt="{{ photo.slug }}" /></a></p>
  <p class="center">{{ photo.date_taken|date:"jS F Y H:i" }}</p>
  <p class="center"><a href="{{ photo.download}}">Download original</a></p>
</td>

{% if forloop.counter|divisibleby:2 %}
</tr>
{% endif %}
{% endfor %}
</table>
<span class="gallery-download center"><a href="{{ gallery.zip_url }}">Download all photos from this gallery</a></span>
{% include "pagination.html" %}
</div>

{% endblock %}
