{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript">
  $(function() {
    $('a.fancybox').fancybox();
  });
</script>
{% endblock %}
{% block content %}
<h2>{{ title }}</h2>
<div class="static-content">
  <ul>
    {% for photo in photos.object_list %}
    <li>
      <a href="{{ photo.get_url }}" class="fancybox"><img src="{{ photo.thumbnail.url }}" alt="{{ photo.slug }}" /></a>
        <span class="center">{{ photo.date_taken }}</span>
        <a href="{{ photo.download}}"<span class="center">Download hi-res</span></a>
    </li>
    {% endfor %}
  </ul>
  <div class="pagination">
      {% if photos.has_previous %}
      <span class="page-nav">
        <a href="?page={{ photos.previous_page_number }}">Previous</a>
      </span>
      {% endif %}
      <span>
        Page {{ photos.number }} of {{ photos.paginator.num_pages }}.
      </span>
      {% if photos.has_next %}
      <span class="page-nav">
        <a href="?page={{ photos.next_page_number }}">Next</a>
      </span>
      {% endif %}
  </div>
</div>
{% endblock %}
