{% extends "base.html" %}
{% block content %}
<div class="image-background">
  <div class="image-container">
    <img src="{{ photo.display_size.url }}" alt="{{ photo.slug }}" class="gallery-image" />
    <div style="height: 50px;">
      <div class="image-nav">
        {% if photo.previous %}
        <a href="{{ photo.previous.get_url }}" class="prev-button"></a>
        {% endif %}
        {% if photo.next %}
        <a href="{{ photo.next.get_url }}" class="next-button"></a>
        {% endif %}
      </div>
      <a href="{{ photo.download }}">Download image</a>
      <a href="{{ photo.gallery.get_url }}" class="close-button"></a>
    </div>
  </div>
</div>
{% endblock %}
