{% extends "base.html" %}
{% load markup %}
{% block content %}
{% if cur_post %}
<div class="post">
  <h2 class="title">{{ cur_post.subject }}</h2>
  <p class="meta">
    <span>{{ cur_post.pub_date }}</span></p>
  <div class="entry">
    <p>
      {% filter textile %}
      {{ cur_post.body }}
      {% endfilter %}
    <p class="links">
      {% if comment_count == 1 %}
      <a href="/comments/{{ cur_post.id }}" class="link">1 comment</a>
      {% else %}{% if comment_count > 0 %}
      <a href="/comments/{{ cur_post.id }}" class="link">{{ comment_count }} comments</a>
      {% endif %}{% endif %}
      <a href="/comment/{{ cur_post.id }}" class="link">Write comment</a>
    </p>
    </p>
  </div>
</div>
{% endif %}
{% endblock %}
