{% extends "base.html" %}
{% load markup %}
{% block content %}
{% if cur_post %}
<div class="post">
  <h2 class="title">{{ cur_post.subject }}</h2>
  <p class="meta">
    <span>{{ cur_post.pub_date }}</span></p>
  <div class="entry">
    {{ cur_post.body|textile }}
    <p class="links">
      {% if comment_count > 0 %}
      <a href="/comments/{{ cur_post.id }}" class="link">{{ comment_count }} comment{{ comment_count|pluralize }}</a>
      {% endif %}
      <a href="/comment/{{ cur_post.id }}" class="link">Write comment</a>
    </p>
  </div>
</div>
{% endif %}
{% endblock %}
